<header class="container">
  <div class="searchBar">
    <input type="text" id="search" /><img src="./images/search 2.png" />
  </div>
</header>
<main class="container">
  <div class="box"></div>
</main>
<footer class="footer container">
  <div class="footer__box">
    <p class="footer__text">© 2020 | All Rights Reserved |</p>
    <p class="footer__link">
      Developed with<img class="footer__img" src="./images/Group.png" />by
      <a href="./partials/footerModal.html">GoIT Students</a>
    </p>
  </div>
</footer>
