/***************** MOBILE *****************/
@media screen and (min-width: 320px) {
  .container {
    max-width: 425px;
    min-width: 320px;
    display: block;
    margin: auto;
    background-color: rgb(212, 221, 221);
  }
}

/***************** TABLET *****************/
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }

}
/***************** DESKTOP *****************/
@media screen and (min-width: 1024px) {
  .container {
    min-width: 1024px;
  }
}
