.searchBar {
  border-bottom: 1px solid #ffffff;
  width: 280px;
}
#search {
  width: 268px;
  height: 20px;
  padding: 0px;
  margin: 0 auto;
  background-color: inherit;
  border: none;
  outline: none;
}
