// MOBILE

.is-hidden {
  display: none;
}

.is-not-hidden {
  display: inline-block;
}

.header {
  width: 100%;
  background: rgb(14, 14, 14);
  background: linear-gradient(
    90deg,
    rgba(14, 14, 14, 1) 0%,
    rgba(78, 77, 77, 1) 50%,
    rgba(14, 14, 14, 1) 100%
  );
  align-items: center;
  justify-content: center;
  &__background {
    height: 230px;
    background: linear-gradient(rgba(50, 48, 48, 0.56), rgba(49, 47, 47, 0.3)),
      url(/src/images/mobileBackground1x.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  &__display {
    position: relative;
    height: 0px;
  }
}
.nav {
  position: absolute;
  top: 52;
  right: 20;
  &__list {
    display: flex;
    gap: 40px;
    &--item {
      color: white;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: #ff6b08;
        transform: translateY(1px);
        border-radius: 0.5px;
      }
    }
    &--item1 {
      color: white;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      &:hover {
        color: #ff6b08;
      }
    }
  }
}
.logo {
  position: relative;
  top: 46;
  left: 41;
  width: 180px;
  &__link {
    &--image {
      width: 24px;
      height: 24px;
    }
    &--text {
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      color: white;
      display: none;
    }
  }
}
.search {
  width: 280px;
  height: 32px;
  margin: 0 auto;
  text-align: center;

  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ff001b;
  }
}
.search-form {
  margin: 113px auto 22px;
  height: 20px;
  width: 280px;

  &__input {
    color: white;
    font-size: 16px;
    background: transparent;
    border: none;
    padding: 10px 29px 10px 12px;
    height: 20px;
    display: block;
    max-width: 280px;
    width: 100%;
    border-bottom: 1px solid white;
    &::placeholder {
      color: white;
      opacity: 0.8;
      font-size: 12px;
    }
    &:focus {
      outline: none;
      border: none;
      transition: outline 0.25s;
      border-bottom: white solid 2px;
    }

    &:hover {
      transition: outline 0.25s;
      border-bottom: white solid 2px;
    }
    &:active {
      border-bottom: white solid 2px;
    }
  }

  &__button {
    width: 18px;
    height: 18px;
    max-width: 18px;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: outline 0.55s, background-color 0.55s;
    display: flex;
    position: relative;
    top: -21;
    left: 250;
    outline: none;

    &__icon {
      transition: fill 0.55s;
    }
  }

  &__icon {
    fill: #60676a;
    transition: fill 0.55s;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header__background {
      background-image: url(/src/images/mobileBackground2x.png);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .box {
      background-image: url(/src/images/mobileBackground3x.png);
    }
  }
}

// TABLET VIEW
@media screen and (min-width: 768px) {
  .logo {
    top: 46;
    left: 71;
    &__link {
      align-items: center;
      display: flex;
      gap: 10px;
      &--image {
        width: 24px;
        height: 24px;
      }
      &--text {
        display: block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
      }
    }
  }
  .nav {
    top: 58;
    right: 76;
  }
  .search {
    width: 460px;
  }
  .search-form {
    width: 336px;
    &__input {
      width: 336px;
      max-width: 336px;
    }
    &__button {
      left: 320;
    }
  }
  .header {
    &__background {
      width: 768px;
      height: 230px;
      object-fit: contain;
      background-position: center center;
      background-size: contain;
      background: linear-gradient(rgba(50, 48, 48, 0.56), rgba(49, 47, 47, 0.3)),
        url(/src/images/tabletBackground1x.png) no-repeat;
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header__background {
      background-image: url(/src/images/tabletBackground2x.png);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .box {
      background-image: url(/src/images/tabletBackground3x.png);
    }
  }
}

// DESKTOP VIEW
@media screen and (min-width: 1024px) {
  .header {
    &__background {
      object-fit: contain;
      width: 1024px;
      height: 230px;
      background-size: contain;
      background-position: center center;
      background: linear-gradient(rgba(50, 48, 48, 0.56), rgba(49, 47, 47, 0.3)),
        url(/src/images/desktopBackground1x.png) no-repeat;
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header__background {
      background-image: url(/src/images/desktopBackground2x.png);
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .box {
      background-image: url(/src/images/desktopBackground3x.png);
    }
  }
}
