@use '../utils/resets' as *;

.button__modal {
  position: absolute;
  top: 20px;
  left: calc(50% - 50px);
  height: 40px;
  width: 80px;
  background-color: $themeBtn;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  // background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  opacity: 1;
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 250ms linear, opacity 250ms linear;
}

.highlight {
  &__orange {
    display: inline-block;
    width: 36px;
    height: 16px;
    background-color: $themeBtn;
    color: #fff;
    text-align: center;
    border-radius: 5px;
  }
  &__white {
    display: inline-block;
    width: 36px;
    height: 16px;
    background-color: #f7f7f7;
    text-align: center;
    border-radius: 5px;
  }
}

.modal {
  &__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 280px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
    margin: 20px;
    padding: 48px 20px 41px 20px;
  }

  &__details {
    width: 100%;
    margin-top: 30px;
  }

  &__image {
    width: 240px;
    height: 356.57px;
    display: block;
  }

  &__title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--dark-text-color);
    text-transform: uppercase;
  }

  &__descr {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;

    &--title {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #8c8c8c;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
    &--info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__about {
    font-family: 'Roboto';
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    & p:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 21px;
  }

  &__btn {
    &--watched {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      width: 112.58px;
      height: 44px;
      background-color: #fff;
      color: $primary-text;
      border: 1px solid $primary-text;
      border-radius: 5px;
      text-transform: uppercase;
      cursor: pointer;
      padding-left: 8px;
      padding-right: 8px;
      outline: none;
      &:focus {
        background-color: $themeBtn;
        border: none;
        color: #fff;
      }
    }
    &--queue {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      width: 112.58px;
      height: 44px;
      background-color: #fff;
      border: 1px solid $primary-text;
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase;
      &:focus {
        background-color: $themeBtn;
        border: none;
        color: #fff;
      }
    }
  }

  &__btn-close {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .modal {
    &__container {
      width: auto;
      flex-direction: row;
      gap: 32px;
      padding: 42px 30px 40px 28px;
    }
    &__details {
      width: 264px;
      margin-top: 0px;
    }
    &__image {
      width: 264px;
      height: 373.55px;
    }
    &__btn {
      &--watched {
        width: 125.03px;
      }
      &--queue {
        width: 125.03px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .modal {
    &__container {
      margin-top: 100px;
      width: 882px;
      height: auto;
      gap: 30px;
      padding: 50px 30px 40px 30px;
    }
    &__details {
      width: 396px;
    }
    &__title {
      font-size: 30px;
    }
    &__about {
      line-height: 20px;
    }

    &__image {
      width: 396px;
      height: 477.8px;
    }
    &__buttons {
      justify-content: left;
      gap: 15px;
      width: 100%;
      margin-top: 21px;
    }
    &__btn {
      &--watched {
        width: 136px;
      }
      &--queue {
        width: 136px;
      }
    }
  }
}
